<div flex-auto>
  <div class="flex flex-row justify-between">
    <div style=" padding: 10px;">
      <h1 *ngIf="dataSource.data.length !== 0" class="py-3 px-3 mr-2 mb-2 text-2xl font-bold " style="color:black">Candidates List</h1>
    </div>

    <div class="text-right p-4">
      <div class="flex flex-row items-center relative">
        <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
          <i class="fas fa-search"></i>
        </span>
        <input *ngIf="dataSource.data.length !== 0" class="rounded-md py-3  pl-10 bg-card mb-2 " (keyup)="onSubmit()" type="text" name="search"
          [(ngModel)]="searchText" autocomplete="off" placeholder="search by name or mail">
      </div>
    </div>

  </div>
  <div *ngIf="dataSource.data.length !== 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

      <!-- Position Column -->
      <ng-container   matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white; ">No.</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white; ">First Name</th>
        <td mat-cell *matCellDef="let element">{{element.first_name}}</td>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white; ">Last Name</th>
        <td mat-cell *matCellDef="let element">{{element.last_name}}</td>
      </ng-container>

      <!-- Name Column -->
      <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white">Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container> -->

      <!-- Mail Column -->
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white;  ">Mail</th>
        <td mat-cell *matCellDef="let element">{{element.mail}}</td>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white; ">Mobile</th>
        <td mat-cell *matCellDef="let element">{{element.mobile}}</td>
      </ng-container>
      
      <ng-container matColumnDef="interviewer" >
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white; ">Interviewer</th>
        <td mat-cell *matCellDef="let element" >{{element.interviewer}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white; ">Date</th>
        <td mat-cell *matCellDef="let element">{{element.date}}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white; ">Time</th>
        <td mat-cell *matCellDef="let element">{{element.time}}</td>
      </ng-container>

      
      <ng-container class=" ml-3" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white; ">Actions</th>
        <td mat-cell *matCellDef="let row">
          
            <button mat-icon-button   (click)="editCandidate()" class="pr-2">
              <mat-icon color="secondary">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="showCandidate()" class="pr-2">
              <mat-icon color="primary">visibility</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteCandidate(row.id)" class="pr-2">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          
        </td>
      </ng-container>
      <ng-container matColumnDef="report">
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white">Report</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="reportButton()">
            <mat-icon color="primary">assignment</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="interviewStatus" >
        <th mat-header-cell *matHeaderCellDef style="background-color: gray; color:white; ">Status</th>
        <td mat-cell *matCellDef="let element" >{{element.interviewStatus}}</td>
      </ng-container>

      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>


  </div>
  <div *ngIf="dataSource?.data?.length === 0" class="no-candidates-message">
    No Candidates!
  </div>
  
  